[submodule "KSoft"]
	path = KSoft
	url = https://github.com/KornnerStudios/KSoft.git
[submodule "Games/Blam"]
	path = Games/Blam
	url = https://github.com/KornnerStudios/KSoft.Blam.git
[submodule "Games/Phoenix"]
	path = Games/Phoenix
	url = https://github.com/KornnerStudios/KSoft.Phoenix.git
[submodule "Games/PhxStudio"]
	path = Games/PhxStudio
	url = https://github.com/KornnerStudios/PhxStudio.git
[submodule "Games/Wwise"]
	path = Games/Wwise
	url = https://github.com/KornnerStudios/KSoft.Wwise.git
